body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
}

.logo {
    max-width: 200px;
    height: auto;
}

.tagline {
    color: #ecf0f1;
    font-size: 18px;
    margin-top: 10px;
}

.contact-info {
    color: #ecf0f1;
    font-size: 16px;
    margin-top: 5px;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.categories {
    margin-right: 20px;
    width: 40%; /* Adjusted to reduce blank space */
}

.category {
    font-size: 24px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.category:hover {
    background-color: #2c3e50;
    transform: translateY(-2px);
}

.description-block {
    display: none;
    width: 55%; /* Adjusted to reduce blank space */
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    background-color: #ecf0f1;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    text-align: center;
}

.description-block img {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.description-text {
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.5;
}

.description-text .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.description-text .small-print {
    font-size: 14px;
    color: #7f8c8d;
    margin-top: 10px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    
    .categories {
        margin-right: 0;
        width: 100%;
    }
    
    .description-block {
        max-width: 100%;
        margin-top: 20px;
    }
}

